.testimonial .container{
	background-color: #2d3092;
	max-width: 100% !important;
	height: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.testimonial .w-100{
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15%;
    margin-left: 45%;
    margin-top: 5%;
}

.testimonial span{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

@media(max-width: 980px){
	.testimonial img{
		display: none !important;
	}
	.testimonial .carousel-caption{
		position: revert;
		margin-left: 15%;
		margin-right: 15%;
	}

}